ion-tabs {
    background-color: var(--ion-color-primary-lightWeight);
    ion-tab-bar{
        border: none;
        ion-tab-button {
            ion-img.tab-icon.picture1 {
                content: url("/assets/icon/picture1.svg");
            }
            ion-img.tab-icon.picture2 {
                content: url("/assets/icon/picture3.svg");
            }
            ion-img.tab-icon.picture3 {
                content: url("/assets/icon/picture3.svg");
            }
            ion-img.tab-icon.picture4 {
                content: url("/assets/icon/picture4.svg");
            }
            ion-img.tab-icon.picture5{
                content: url("/assets/icon/picture5.svg");
            }
        }
    }
}