<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="">
          <ion-img class = "tab-icon picture1"  alt=""></ion-img>
          <ion-label class="ion-text-capitalize">menu01</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="" class="">
        <ion-img class = "tab-icon picture2"  alt=""></ion-img>
          <ion-label class="ion-text-capitalize">menu02 </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="" class="">
        <ion-img class = "tab-icon picture3"  alt=""></ion-img>
          <ion-label class="ion-text-capitalize">menu03</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="">
        <ion-img class = "tab-icon picture4"  alt=""></ion-img>
          <ion-label class="ion-text-capitalize">menu04</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="loginPage()">
          <ion-img class = "tab-icon picture5"  alt=""></ion-img>
          <ion-label class="ion-text-capitalize">login</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>